build
dist
misc
**/.DS_Store
**/__pycache__/
**.env
*.png
*.npy
*.docs
*.csv
examples/drawings/*
examples/**/output/
# Unignore only *.ipynb files and auth file inside examples/drawings/
!examples/drawings/*.ipynb
!examples/drawings/auth_template.txt

.vscode/
